

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  overflow: hidden;
}

.flex-teen {
  background-color: White;
  font-family: 'Helvetica';
  color: #555555;
  width: 100%;
  border: 1px solid #FF8282;
  border-radius: 6px;
  cursor: arrow;
  margin: 1px 1px;
  font-size: 24px;
  white-space: nowrap;
  font-style: oblique;
  overflow: hidden;
}

.flex-child {
  background-color: White;
  font-family: 'Helvetica';
  color: #555555;
  width: 100%;
  border-radius: 6px;
  cursor: arrow;
  margin: 1px 1px;
  font-size: 24px;
  width: 100%;
  white-space: nowrap;
  font-style: normal;
  overflow: hidden;
}

.content {
  /* These rules create an artificially confined space, so we get
     a scrollbar that we can hide. They are not directly involved in
     hiding the scrollbar. */

  border: 1px dashed gray;
  padding: .5em;

  white-space: pre-wrap;
  height: 5em;
  overflow-y: scroll;
}

.content {
  /* This is the magic bit for Firefox */
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}
