

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1000px;
}

.flex-teen {
  background-color: White;
  font-family: 'Helvetica';
  color: #555555;
  width: 100%;
  border: 1px solid #FF8282;
  border-radius: 6px;
  cursor: arrow;
  margin: 1px 1px;
  font-size: 24px;
  white-space: nowrap;
  font-style: oblique;
}

.flex-child {
  background-color: White;
  font-family: 'Helvetica';
  color: #555555;
  width: 100%;
  border-radius: 6px;
  cursor: arrow;
  margin: 1px 1px;
  font-size: 24px;
  width: 100%;
  white-space: nowrap;
  font-style: normal;
}

.content {
  /* This is the magic bit for Firefox */
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

.button {
   background-color: #00AAFF;
   font-family: 'Helvetica';
   color: White;
   height: 43px;
   width: 100%;
   /* box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.15), 0 6px 20px 0 rgba(44, 44, 44, 0.15); */
   border: 1px solid #00AAFF;
   border-radius: 6px;
   cursor: pointer;
   margin: 1px 1px;
   font-size: 16px;
   width: 100%;
   white-space: nowrap;
   text-align: center;
   font-style: oblique;
}

.button:hover {
   color: White;
   background-color: #FF8282;
   border: 1px solid #FF8282;
}
